<div class="banner">
 <div>
  <h1>CookBook</h1>
  <h3>Save your favourites recipes</h3>
 </div>
</div>

<div class="container">
  <div class="info-top d-flex justify-content-between m-3">
    <h2>List of category</h2>
    <%= link_to 'New category', new_category_path, class: "btn btn-gradient" %>
  </div>

<div class="cards">
  <% @categories.each do |category| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <%= link_to category.name, category_path(category) %>
  </div>
  <% end %>
</div>
</div>
